.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.page-title,
.page-title a {
  font-size: 36px;
}

.facetwp-sort-select {
  background: #fff;
  border: 1px solid #ccc;
}

.car-item {
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
  padding-bottom: 50px;
}

.column-car-title {
  font-weight: normal;
  line-height: 0.7em;
  margin-top: 0;
}

.car-item .car-title a {
  font-size: 22px;
}

.four-columns {
  display: flex;
  flex-wrap: wrap;
}

.three-columns {
  display: flex;
  justify-content: space-between;
}

.four-columns .column {
  flex: 20%;
  margin-right: 20px;
}

.single-column {
  width: 30%;
}
@media screen and (max-width: 800px) {
  .four-columns .column {
    flex: 50%;
    margin-right: 20px;
    text-align: left;
  }
}

.cars-column-title {
  font-size: 30px;
  color: #dc1515;
}
.title-url {
  font-size: 24px;
  text-transform: uppercase;
}

.car-content p {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 16px;
}

.all-cars .price-content {
  text-align: right;
}
.price-content .price {
  font-size: 32px;
  margin-bottom: 0;
  margin-top: 0;
}

.price-content .price-label {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 30px;
}

.facetwp-pager {
  margin: 20px auto;
  width: 80%;
}
.facetwp-pager-label {
  margin-right: 10px;
}
a.facetwp-page {
  color: #dc1515;
}
.facetwp-page {
  margin: 0 5px;
}
span.facetwp-page.current {
  color: #dc1515;
  font-weight: 700;
}

.sub-title {
  font-size: 23px;
  margin-bottom: 20px;
  margin-top: 40px;
  font-weight: normal;
}

.text-red {
  color: #dc1515 !important;
}
a.text-red:hover {
  color: black !important;
  transition: all 0.3s ease-in-out;
}

/* Custom framework classes */
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.overflow-hidden {
  overflow: hidden;
}
.pt-2 {
  padding-top: 20px !important;
}
.pb-2 {
  padding-bottom: 20px !important;
}
.mt-2 {
  margin-top: 20px !important;
}
.mb-2 {
  margin-bottom: 20px !important;
}

.small-text {
  font-size: 14px;
}
.img-responsive {
  width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.bg-red {
  background: red !important;
}

.button-centered {
  display: block !important;
  width: 30%;
  margin: 20px auto;
  padding: 20px 0 !important;
  font-size: 20px !important;
  min-width: 200px;
  transition: 0.5s !important;
}
.button-centered:hover {
  background: #3e4248 !important;
}

.overflow-hidden {
  overflow: hidden;
}

/* lightslider */

.vehicle-slider ul {
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
}
.vehicle-slider .item {
  margin-bottom: 60px;
}

.car-image img {
  width: 100%;
  height: auto;
}
